/* Estilos generales para el cuerpo de la página */
body {
    font-family: Arial, Helvetica, sans-serif; /* Define la fuente del texto */
    background-color: white; /* Establece el color de fondo de la página */
}

/* Contenedor principal */
.container {
    max-width: 600px; /* Define el ancho máximo del contenedor */
    margin: 80px auto 0 auto; /* Centra el contenedor horizontalmente y agrega margen superior */
    padding: 40px; /* Agrega espacio interno dentro del contenedor */
    background-color: aqua; /* Establece el color de fondo del contenedor */
    border-radius: 10px; /* Redondea las esquinas del contenedor */
    box-shadow: 0 10px 10px gray; /* Agrega una sombra alrededor del contenedor */
}

/* Grupo de formulario */
.form-group {
    margin-bottom: 20px; /* Agrega espacio inferior entre los grupos del formulario */
}

/* Etiquetas de los campos del formulario */
label {
    font-weight: bold; /* Hace que el texto de las etiquetas sea negrita */
}

/* Campos de entrada de texto y área de texto */
input[type="text"],
textarea {
    width: 100%; /* Hace que los campos ocupen todo el ancho del contenedor */
    padding: 10px; /* Agrega espacio interno dentro de los campos */
    border: 1px solid gray; /* Define un borde gris alrededor de los campos */
    border-radius: 5px; /* Redondea las esquinas de los campos */
}





/*Área de texto */
textarea {
    resize: vertical; /* Permite redimensionar el área de texto solo verticalmente */
}

/* Botón de envío */
button[type="submit"] {
    background-color: #007bff; /* Establece el color de fondo del botón */
    color: white; /* Define el color del texto del botón */
    border: none; /* Elimina el borde del botón */
    padding: 10px 20px; /* Agrega espacio interno al botón */
    border-radius: 5px; /* Redondea las esquinas del botón */
    cursor: pointer; /* Cambia el cursor a una mano al pasar sobre el botón */
}

/* Efecto al pasar el mouse sobre el botón */
button[type="submit"]:hover {
    background-color: blueviolet; /* Cambia el color de fondo del botón al pasar el mouse */
}

/* Inicio de estilos para el pie de página */
#main-footer {
    background: black; /* Fondo negro para el pie de página */
    color: white; /* Color del texto */
    text-align: center; /* Centra el texto */
    padding: 20px; /* Espaciado interno */
    margin-top: 40px; /* Margen superior */
}

#main-footer p {
    margin: 0; /* Elimina el margen de los párrafos */
    font-size: 20px; /* Tamaño de la fuente */
    text-align: center; /* Centra el texto */
}

#main-footer a {
    color: white; /* Color de los enlaces */
}
/* Fin de estilos para el pie de página */